form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  min-width: 150px;
  background-color: #00517c;
  padding: 5px;
  gap: 5px;


  .master-check {
    display: flex;
    gap: 5px;

    label input[type='radio'] {
      display: none;
    }

    input[type='radio']:checked + span {
      color: white;
      background-color: #009df1;

      &:hover {
        background-color: #0275b3;
      }

      &:checked {
       background-color: #00a6ff;
      }
    }
  }

  label {
    width: 100%;

    span {
      color: #fff;
      display: block;
      text-align: center;
      background-color: lighten($color: #00517c, $amount: 10%);
      cursor: pointer;
    }
  }

  .show-pw {
    text-align: center;
    color: #fff;
  }

  button {
    border-style: none;
    cursor: pointer;
    display: block;
    color: white;
    background-color: #009df1;
    padding: 5px 10px;

    &:hover {
      background-color: #0275b3;
    }

    &:disabled {
      background-color: #0275b3;
      cursor: inherit;
    }
  }

  .text-danger {
    color: red;
    font-size: small;
  };
}
