<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" placeholder="Nick" formControlName="nick">
  <ng-container *ngIf="(registerFormControl.nick.invalid && registerFormControl.nick.touched) || registerFormControl.nick.dirty">
    <p class="text-danger" *ngIf="registerFormControl.nick.hasError('required')">Provide your nick.</p>
    <p class="text-danger" *ngIf="registerFormControl.nick.touched && registerFormControl.nick.hasError('minlength')">Nick is to short! At leat 3 chars.</p>
  </ng-container>
  <input type="email" placeholder="Email" formControlName="email">
  <ng-container *ngIf="(registerFormControl.email.invalid && registerFormControl.email.touched) || registerFormControl.email.dirty">
    <p class="text-danger" *ngIf="registerFormControl.email.hasError('required')">Email required!</p>
    <p class="text-danger" *ngIf="registerFormControl.email.hasError('pattern') && registerFormControl.email.touched" >Wrong format!</p>
  </ng-container>
  <p class="text-danger" *ngIf="emailAlreadyExist">Email is already used! Try other.</p>
  <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="password">
  <ng-container *ngIf="(registerFormControl.password.invalid && registerFormControl.password.touched) || registerFormControl.password.dirty">
    <p class="text-danger" *ngIf="registerFormControl.password.hasError('required')">Type password!</p>
    <p class="text-danger" *ngIf="registerFormControl.password.hasError('minlength')">Password is to short! At leat 6 chars.</p>
  </ng-container>
  <label class="show-pw">Show password
    <input type="checkbox" (change)="showPassword = !showPassword" [value]="showPassword">
  </label>
  <div class="master-check">
    <label>
      <input type="radio" name="guildMaster" [value]="true" formControlName="guildMaster">
      <span>Create Guild</span>
    </label>
    <label>
      <input type="radio" name="guildMaster" [value]="false" formControlName="guildMaster">
      <span>Join Guild</span>
    </label>
  </div>
  <input type="text" placeholder="Guild name" formControlName="guildName" >
  <ng-container *ngIf="(registerFormControl.guildName.invalid && registerFormControl.guildName.touched) || registerFormControl.guildName.dirty">
    <p class="text-danger" *ngIf="registerFormControl.guildName.hasError('required')">Type guild name!</p>
  </ng-container>
  <button type="submit" [disabled]="!form.valid">Register</button>
</form>
