:host {
  display: flex;
}

.my-profile {
  position: absolute;
  right: 0;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  background-color: #00517c;
  padding: 5px;
  gap: 5px;

  h2 {
    text-align: center;
    color: white;
  }

  .buttons {
    display: flex;
    gap: 5px;
    position: absolute;
    right: 10px;
  }

  h1 {
    color: #fff;
  }

  button {
    border-style: none;
    cursor: pointer;
    display: block;
    color: white;
    background-color: #009df1;
    padding: 5px 10px;

    &:hover {
      background-color: #0275b3;
    }
  }
}

.wrapper {
  width: 100%;

  h1 {
    height: 5vh;
    background-color: #009df1;
    color: white;
    text-align: center;
  }
}
