<app-nav *ngIf="isLogged$ | async"></app-nav>
<div class="wrapper">
  <h1 *ngIf="(currentUser$ | async) as user">{{ user.guildName }}</h1>
  <router-outlet></router-outlet>
</div>
<div *ngIf="!(isLogged$ | async)" class="my-profile">
  <h1>Guild Raiding App</h1>
  <div class="buttons">
    <button routerLink="login" routerLinkActive="active">Login</button>
    <button routerLink="register" routerLinkActive="active" >Register</button>
  </div>
</div>
<app-my-profile *ngIf="isLogged$ | async"></app-my-profile>
