form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 20px;

  h2 {
    text-align: center;
  }

  mat-button-toggle {
    width: 100%;
  }

  .btn--save {
    margin-top: 20px;
  }
}

.link {
  cursor: pointer;
  color: #009df1;
}
